<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workshop1024.com.xproject.introduce"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:name=".IntroduceApplication"
        tools:replace="android:name">
        <!-- 介绍页面 -->
        <!-- android:exported="false"，intent-filter不向外暴露-->
        <activity
            android:name=".controller.activity.IntroduceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="workshop1024.com.xproject.introduce.controller.activity.IntroduceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
