<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="workshop1024.com.xproject">

    <!--Staging构建的清单文件，定制化android:label-->
    <application
        android:name=".XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="XProjectStaging"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <!-- 选择登录页面 -->
        <activity android:name=".controller.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>