<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="workshop1024.com.xproject">

    <!--Home组件也声明了Application，引起Manifest Merge冲突，使用tools:replace解决-->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <!--Login Activity页面在login Module中，根据组件化原则：app module只负责编译和初始化相关工作，但Launchr Activity还必须在app Module中声明-->
        <!--选择登录页面，启动页面 -->
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>