<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workshop1024.com.xproject">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 选择登录页面 -->
        <activity android:name=".controller.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 介绍页面 -->
        <activity android:name=".controller.activity.introduce.IntroduceActivity" />
        <!-- 主页面 -->
        <activity android:name=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.setting.SettingsActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.feedback.FeedbackActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.home.NewsDetailActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.home.PublisherActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.home.FilterActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
        <activity
            android:name=".controller.activity.home.AboutActivity"
            android:parentActivityName=".controller.activity.home.MainActivity" />
    </application>

</manifest>