<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workshop1024.com.xproject.feedback">

    <application>
        <activity
            android:name=".controller.activity.FeedbackActivity"
            android:parentActivityName="workshop1024.com.xproject.main.main.MainActivity" />
    </application>
</manifest>
